<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ePracticeV1">
	<test name="ePracticeV1 Test">
		<parameter name="browser" value="chrome" />
		<classes>		
			<class name="practicePrograms.LoginTestonWindowsUsingChrome" />
		</classes>
	</test>
</suite>